<div
  class="sidebar d-flex flex-column h-100 w-100"
  [ngClass]="{
    'sidebar-mini': !open && sidebarVisible,
    'sidebar-hidden': !sidebarVisible
  }"
  [hidden]="!sidebarVisible"
>
  <div class="titulo-wrapper" [ngClass]="{ 'titulo-wrapper-colapsado': !open }">
    <img src="img/logo/Logo_Nettalco_slogan_español_3.png" alt="Logo Nettalco"
    width="250" />
  </div>
  <!-- Menú principal -->
  <ul class="menu">
    <li
      *ngFor="let item of menuItems; let i = index"
      class="menu-item"
      [ngClass]="{ 'item-activo': currentExpandedItemIndex[0] === i }"
    >
      <!-- Llamamos al componente recursivo -->
      <app-sidebar-item
        [item]="item"
        [depth]="0"
        [index]="i"
        [expanded]="currentExpandedItemIndex[0] === i"
        [currentExpandedItemIndex]="currentExpandedItemIndex"
        [sidebarCollapsed]="!open"
        (expandChange)="handleExpandChange($event)"
      >
      </app-sidebar-item>
    </li>
  </ul>

  <!-- Botón para cerrar sidebar en responsive -->
  <div class="sidebar-footer-responsive">
    <p-button
      icon="pi pi-arrow-left"
      styleClass="p-button-secondary p-button-rounded sidebar-close-btn"
      (onClick)="onToggle()"
      [attr.aria-label]="'Cerrar menú'">
    </p-button>
  </div>
</div>

