<div class="buses-container">
  <p-toolbar class="custom-toolbar">
    <ng-template #start>
      <div class="d-flex gap-2">
        <p-iconfield iconPosition="left">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input type="text" pInputText placeholder="Buscar por placa, modelo o IMEI GPS..."
            [(ngModel)]="terminoBusqueda" (input)="filtrarBuses()" />
        </p-iconfield>
        <p-button
          class="button-fiter"
          [icon]="filtrosVisibles ? 'pi pi-filter-slash' : 'pi pi-filter'"
          label="Filtrar"
          styleClass="btn-info btn-v2 btn-md"
          tooltipPosition="bottom"
          (onClick)="aplicarFiltros()"
          [loading]="loading"
        >
        </p-button>
        <p-button icon="pi pi-times" label="Limpiar" styleClass="p-button-danger"
          (onClick)="limpiarBusqueda()"></p-button>
      </div>

    </ng-template>

    <ng-template #end>
      <div class="d-flex gap-2">
        <p-button icon="pi pi-plus" label="Nuevo Bus" styleClass="p-button-primary"
          (onClick)="abrirDialogoCrear()"></p-button>
      </div>
    </ng-template>
  </p-toolbar>

  <p-divider></p-divider>

  <shared-data-table #dataTable [config]="busesTableConfig"></shared-data-table>
</div>

<!-- Componente de crear/editar bus -->
<app-bus-form #busFormComponent (busCreado)="onBusCreado()"
  (busActualizado)="onBusActualizado()"></app-bus-form>
